*{
	box-sizing: border-box
}

body {
	background-image: url(../images/corridor.png);
	z-index: -1;
}

header {
	background-color: #111111;
  font-size: 30pt;
  padding: 13px 0;
  margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Days One', sans-serif;
	color: #FFDC00;
}

.gameContainer {
	padding-top: 15px;
	padding-bottom: 8px;
	background: rgba(17, 17, 17, .7);
	border: 3px solid #FFDC00;
	border-radius: 2px;
}

.charImg {
	text-align: center;
}

.imgLabel {
	background-color: #111111;
	color: #FFDC00;
	padding: .25em 0;
	font-family: 'Nunito', sans-serif;
	border-radius: 2px;
}

.heroParent .imgLabel {
	background-color: #00ED5F;
	color: #111111;
}

.villainParent .imgLabel {
	background-color: #ED022E;
	color: #111111;
}

.title {
	background-color: #ffdc00;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	color: #111111;
	font-size: 16pt;
	margin-bottom: 10px;
	padding: 5px 0;
	border-radius: 2px;
}

.health {
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
	margin-bottom: 10px;
	color: #ffffff;
}

button {
	margin-left: 9px;
  margin-bottom: 10px;
  width: 13%;
  padding: 8px 0;
  font-size: 12pt;
}

.loser {
	color: #ffffff;
	font-size: 14pt;
	font-family: 'Yantramanav', sans-serif;
}

.scoreContainer {
	/*border: 3px solid #ffdc00;*/
	margin: 0 0 10px 0;
}

.scoreTitle {
	margin: 0;
	font-size: 16pt;
}

.scoreHeader {
	color: #ffffff;
}

.score, .scoreHeader {
	margin-left: 9px
}

.scoreHeader {
	margin-bottom: 2px;
}

.score {
	color: #ffffff;
	font-size: 16pt;
	margin-bottom: 7px;
}

.gameOverModal {
	color: #FFDC00;
	text-align: center;
	background: rgba(17, 17, 17, .95);
	padding: 2em 2em 3em 2em;
  margin: 13% 0;
}

.gameOverText {
	font-size: 24pt;
	font-family: 'Days One', sans-serif;
}

.gameOverButton {
	width: 30%
}

.charName {
	font-size: 20pt;
	color: #FFDC00;
	font-family: 'Days One', sans-serif;
}

.instructions {
	text-align: center;
	background: rgba(255, 220, 0, .95);
	margin: 0 0 25px 0;
	font-size: 18pt;
	color: #111111;
	padding: .5em 0;
	border-radius: 2px;
	font-family: 'Nunito', sans-serif;
}

.char {
	margin: 0 0 10px 0;
}

.villainToAttack {
	border: 6px solid #ED022E;
	margin-bottom: 5px;
	border-radius: 2px;
}

.hero {
	border: 6px solid #00ED5F;
	border-radius: 2px;
}

.heroParent {
	margin: 0;
}

.attkBtn, .gameOverButton {
	border: none;
	border-radius: 2px;
	margin: 0 auto;
	background-color: #00ED5F;
	outline: none;
	margin-left: 20px;
	padding: 1em 0;
	font-family: 'Nunito', sans-serif;
}

.attkBtn:hover, .gameOverButton:hover {
	background-color: #00993D;
	color: #eeeeee;
	font-family: 'Nunito', sans-serif;
}

.attkBtn:focus, .gameOverButton:focus {
	outline: none;
}

.gameOverButton {
	margin: 0 auto;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:translatZ(0) scale(1.10); /* Opera */
    transform:translatZ(0) scale(1.10);
}
