*{
	box-sizing: border-box
}

body {
	background-image: url(../images/corridor.png);
	z-index: -1;
}

header {
	background-color: #111111;
  font-size: 30pt;
  padding: 13px 0;
  margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-family: 'Days One', sans-serif;
	color: #FFDC00;
}

.defender {
	margin-bottom: 10px;
}

.charSelect {
	width: 100%;
	margin-bottom: 10px;
}

.char {
	width: 11.1%;
  margin: 0px 6.8%;
}

.title {
	background-color: #ffdc00;
	text-align: center;
	font-family: 'Yantramanav', sans-serif;
	color: #111111;
	font-size: 16pt;
	margin: 0 6.8%;
	margin-bottom: 10px;
	padding: 5px 0;
}

.hero {
	margin-bottom: 10px;
}

.health {
	margin: 0 6.8%;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16pt;
	margin-bottom: 10px;
	color: #ffffff;
}

button {
	margin-left: 9px;
  margin-bottom: 10px;
  width: 13%;
  padding: 8px 0;
  font-size: 12pt;
}

.loser {
	color: #ffffff;
	font-size: 14pt;
	font-family: 'Yantramanav', sans-serif;
	margin: 0 6.8%;
}

.scoreContainer {
	border: 3px solid #ffdc00;
	margin: 0 6.8% 10px 6.8%;
}

.scoreTitle {
	margin: 0;
	font-size: 16pt;
}

.scoreContainer {
	background-color: #111111;
}

.scoreHeader {
	color: #ffffff;
}

.score, .scoreHeader {
	margin-left: 9px
}

.scoreHeader {
	margin-bottom: 2px;
}

.score {
	color: #ffffff;
	font-size: 16pt;
	margin-bottom: 7px;
}

.attkBtn {
	margin: 0 20px 0 6.8%;
	float: left;
}

.hpContainer {
	border: 1px solid #ffdc00;
	background-color: #111111;
}

.hpContainerHero {
	float: left;
	margin: 0 15px 0 0;
	width: 50%
}

.gameOverModal {
	color: #FFDC00;
	margin-top: 10px;
	text-align: center;
	background-color: #111111;
  padding: 3em;
  margin: 10% 26%;
}

.gameOverText {
	font-size: 24pt;
	font-family: 'Days One', sans-serif;
}

.gameOverButton {
	width: 30%
}

.villain {
	margin-bottom: 10px;
}


/*@media screen and (max-width: 1212px) {
	.char {
		width: 50%;
		margin-left: 80px;
	}
}*/
